[user]
	email = git@poulsen.xyz
	name = Sylvie Poulsen
	signingkey = AEB12283C38DBBE5
[core]
	editor = emacsclient -t -a=""
[init]
	defaultBranch = main
[commit]
  gpgsign = true
[credential]
	helper = netrc -f $HOME/.netrc.gpg -v
